/* 
Everything but the following is styled here:

.content  height
footer top

footer top should be .content height  + 150

*/

header .title {
	width: 400px;
	height: 100px;

	position: absolute;
	left: -20px;
	top: 0px;

	background-color:  #F8941C;
	color: white;

	font-family: Futura;
	font-size: 30px;

	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
}

header  {
	width: 900px;
	height: 100px;

	position: absolute;
	left : 50%;
	top: 50px;
	margin-left: -450px;

}

header .navbar {

	width: 520px;
	height: 50px;

	position: absolute;
	top: 50px;
	left: 380px;

	background-color: #00525E;
	color: white;

	font-size: 25px;
	font-family: helvetica;

	text-align: center;
	vertical-align: middle;
	line-height: 50px;

}
footer {
	width: 900px;
	height: 100px;

	position:  absolute;
	left: 50%;
	margin-left: -450px;

	background-color: #18414C;
}


.content {
	width: 900px;

	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -450px;

	background-color: #FAFFF3;

}
