.content {
	height: 1000px;
}
footer {
	top: 1150px;
}

/* Preview styling */
.preview {
	width: 280px;
	height: 400px;

	position:  absolute;

	border-radius: 10px;
	border-bottom: 5px solid #585858;


	background-color: white;
}
.preview .previewTitel {
	margin-top: 0px;
	font-size: 30px;
	padding-bottom: 0px;
	margin-bottom: -13px;
	font-family: 'Roboto', sans-serif;
	color: #F8941C;

}
.preview .previewAuthor {

	margin-top: 0px;
	margin-bottom: -20px;
	
	font-size: 13px;
	font-family: 'Roboto', sans-serif;

	color: #00525E;
}
.preview p {

	margin-top: 0px;

	padding: 10px;

	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 300;
}

.preview p a {
	font-weight: bold;
}
.previewImage {
	width: auto;
	max-width:280px;	
	height: auto;
	max-height:280px;

	display: block;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.p1 {left: 15px; 	top: 15px; }
.p2 {left: 310px; 	top: 15px; }
.p3 {left: 605px; 	top: 15px; }

