.content {
	height: 1000px;
}
footer {
	top: 1150px;
}

.preview {
	width: 280px;
	height: 400px;

	position:  absolute;

	border-radius: 10px;
	border-bottom: 5px solid black;


	background-color: #fff3d8;
}
.preview .previewTitel {
	margin-top: 0px;
	font-size: 30px;
	padding-bottom: 0px;
	margin-bottom: -13px;
	font-family: 'Roboto', sans-serif;
	color: #F8941C;

}
.preview .previewAuthor {

	margin-top: 0px;
	margin-bottom: -20px;
	
	font-family: 'Roboto', sans-serif;

	color: #00525E;
}
.preview p {
	padding: 10px;

	margin-top: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 300;
}

.preview p a {
	font-weight: bold;
}
.previewImage {
	/*background:url("img/dogecar.jpg") no-repeat center center;*/
	width: 280px;
	height: 280px;

	display: block;
	max-width:280px;	
	max-height:280px;
	width: auto;
	height: auto;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	background-color: blue;
}
.previewImage img  {
	display: block;
	max-width:280px;
	max-height:280px;
	width: auto;
	height: auto;
}

.p1 {
	left: 15px;
	top: 15px;
}
.p2 {
	left: 310px;
	top: 15px;
}

.p3 {
	left: 605px;
	top: 15px;
}