.content {
	height: 1000px;
}
footer {
	top: 1150px;
}

.preview {
	width: 280px;
	height: 400px;

	position:  absolute;

	background-color: red;
}

.p1 {
	left: 15px;
	top: 15px;
}
.p2 {
	left: 310px;
	top: 15px;
}

.p3 {
	left: 605px;
	top: 15px;
}